*{
    margin: 0;
}
.header{
  background-image: url('../images/banner/banner1.png');

  background-repeat: no-repeat;
  background-position: center;
  width: 1600px;
  height: 808px;

}
/* banner styles */
.banner{
    display: flex;
    align-items: center;
    margin:0 200px;
}
.banner-title{
    position: absolute;
    width: 525px;
    height: 228px;
    left: 17px;
    top: 205px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 65px;
    line-height: 76px;
    text-align: left;
    color: #151414;
}
.banner-description{
position: absolute;
width: 494px;
height: 78px;
left: 48px;
top: 521px;
font-size: 16px;
line-height: 26px;
text-align: left;
color: #444343;

}
.btn-primary{
    color:#FFFFFF ;
    position: absolute;
    width: 160px;
    height: 64px;
    left: 246px;
    top: 628px;
    background: #F15B22; 
    border-radius: 5px;
}


/* About section styles */
.section-title{
 position: absolute;
width: 288px;
height: 94px;
left: 862px;
top: 1178px;
font-family: 'Work Sans';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 47px;
color: #151414;


}
.section-description{
position: absolute;
width: 416px;
height: 104px;
left: 862px;
top: 1296px;
font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
color: #444343;

}
.section-list{
    content:"\2713";
    position: absolute;
    width: 349px;
    height: 162px;
    left: 862px;
    top: 1416px;
}
/* My plans section */
.my-plans{
    position: absolute;
    width: 1141px;
    height: 299.96px;
    left: 230px;
    top: 1792.3px;
     
}
.skill-title{
    text-align: center;
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 50px;


}
.skills-container{
    display: flex;
}
.skill{
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius:10px;
    padding: 70px;
}
.skill-title{
    font-weight: 700;
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 20px;
}
.skill-description{
    color: #757575;
}

/* Be positive Section */
.section-positive{
    position: absolute;
width: 1100px;
height: 280px;
left: 230px;
top: 2300.26px;
background: linear-gradient(90deg, #F15B22 0%, rgba(241, 91, 34, 0) 100%),url('../images/watch.png');
border-radius: 8px;
}

.positive-title{
    position: absolute;
    width: 400px;
    height: 200px;
    left: 10px;
    top: 90px;
    margin-top:-43px;
    font-weight: 500;
    font-size: 35px;
    line-height: 50px;
    text-align: left;
    color: #FFFFFF;
    
}
.positive-btn{
        position:relative;
        font-weight: 700;
        font-size: 20px;
        border: 0;
        margin-bottom:-100px;
        padding: 20px 40px;
        height: 60px;   
        border-radius: 7px;
        margin: 200px 20px;
        align-items: center;
        color: #F15B22;
        background-color: #FFFFFF; 
}
/* contact */
.contact{
    display: flex;
    gap: 100px;
    background-color:#FFF8F3 ;
    padding: 200px 330px;
    margin-top: 1100px;
    margin-right: -100px;
    background: #151414;
}
.future-title{
position: absolute;
width: 148px;
height: 53px;
left: 230px;
top: 2776.3px;
font-weight: 700;
font-size: 45px;
line-height: 53px;
margin-top: -90px;
margin-left: -40px;
color: #F8F8F8;


}
.future-description{
    margin-top: -80px;
    margin-left: -40px;
    position: absolute;
    width: 485px;
    height: 78px;
    left: 230px;
    top: 2845.3px;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;  
}
.f-email{
margin-top: -70px;
margin-left: -50px;
position:absolute;
width: 184px;
height: 26px;
left: 237px;
top: 2935px;
font-size: 16px;
line-height: 26px;
color: #FFFFFF;  
}
.f-phn{
position: absolute;
margin-top: -50px;
margin-left: -50px;
width: 184px;
height: 26px;
left: 237px;
top: 2935px;
font-size: 16px;
line-height: 26px;
color: #FFFFFF;
}
.icon{
 position: absolute;
 margin-top:-100px;
width: 175px;
height: 46px;
left: 230px;
top: 3047.3px;
}
.contact input[type="text"],input[type="email"] ,textarea{
    margin-bottom: 24px;
    border: 0;
    width: 100%;
    padding:18px 30px;

}
.contact .subscribe-title{
    margin-top: -80px;
    position: absolute;
    width: 123px;
    height: 29px;
    left: 1046px;
    top: 2782.26px;
    font-weight: 600;
    font-size: 25px;
    line-height: 29px;
    color: #FFFFFF;
}
.contact .email{
    margin-top: -90px;
position: absolute;
width: 300px;
height: 14px;
left: 1046px;
top: 2842.26px;
}
.contact .button-primary{
    margin-top: -110px;
    position: absolute;
    width: 150.11px;
    height: 50px;
    left: 1046px;
    top: 2922.26px;
    
    background: #FFFFFF;
    border-radius: 8px;
}

/* bonus section */
.connection{
    display: flex;
    gap: 100px;
    background-color:#d5f2f3 ;
    padding: 130px 200px;
}
.connection .conn-title{
   text-align: left;
   text-shadow: #F15B22;
}
.connection input[type="text"],input[type="email"] ,textarea{
    margin-bottom: 24px;
    border: 0;
    width: 100%;
    padding:18px 30px;

}
input{
    height:64px ;
}
.connection a{
text-decoration: none;
}